footer {
  background: var(--footer-bg);
  color: #fff;
  padding-block: 4rem;
}

footer img {
  height: 2.25rem;
}

footer .footer-link {
  font-size: 0.875rem;
  line-height: 2;
  cursor: pointer;
  transition: 0.3s ease;
}

footer .footer-link:hover {
  color: var(--primary-color);
}

footer .copyright {
  font-size: 0.875rem;
  opacity: 0.3;
}

@media screen and (max-width: 600px) {
  footer {
    text-align: center;
  }
}
